body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img.header-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #3498db;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.project {
    margin: 20px 0;
}

.project img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}


.dark-mode {
    background-color: #333;
    color: #f9f9f9;
}

.dark-mode a {
    color: #76c7f4;
}
